<div class="container">
  <h2>Search Pics</h2>
  {{!-- מיטודה סוג השליחה ואקשן לאן לשגר את הטופס --}}
  <form class="d-flex" method="GET" action="/pixa/list">
    <input name="q" type="text" class="form-control w-50">
    <button class="btn btn-primary">Search</button>
  </form>
</div>